.env
/cursore_shop/__pycache__
/main/__pycache__/
/main/migrations/__pycache__/
/main/__init__.py
/main/migrations/__init__.py
/docker/db
/products/__init__.py
/products/__pycache__/
/products/migrations/__init__.py
/products/migrations/__pycache__/
/main/templatetags/__pycache__/
/api/__pycache__/
/api/__init__.py
/api/migrations/__init__.py