/lib64
/lib
/include
/bin
/.idea
/pyvenv.cfg
/Lessons
/practice.py
/Home_Work/for_me.py
/Makefile
/Home_Work/HW_Less_8_Flask/__pycache__
/Home_Work/HW_Less_9_Flask/statapi/__pycache__
/Home_Work/HW_Less_15_Flask_Temp_Ses/__pycache__
/Home_Work/Django/venv/
/Home_Work/Django/
/Home_Work/HW_Less_15_Flask_Temp_Ses/models/__pycache__
/Home_Work/HW_Less_15_Flask_Temp_Ses/routes/__pycache__/
