{% extends 'base.html' %}
{% block content %}
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        {% for image in slider_items %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ image.image.url }}" class="d-block w-100" alt="Image not found" style="object-fit: cover; height: 10%;">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container">
        <h1 class="text-center">Top Products</h1>
        <div class="products-list">
          {% for product in products %}
            <div class="card" style="width: 18rem;">
              <img src="/media/{{ product.main_image }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.price }}$</p>
                <a href="{% url 'add_to_cart' product_id=product.id %}" class="btn btn-primary">Buy</a>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
{% endblock %}